html {
    font-family: sans-serif
}

*{
    margin:0px;
    padding:0px;
}


#form-container{
    width:1116px;
    height:850px;
    background:#285f7e;
    position:relative;
    
}

#wrapper {
    position:absolute;
    width:494px;
    height:629px;
    background:#fbfbfb;
    margin:auto;
    border-radius: 3px;
    top: 114px;; left: 0; bottom: 114; right: 0;
}


#form-container #wrapper .clear{
    clear:left;
}

#wrapper .top{
    width:424px;
    height:88px;
    color:#8a8a8b;
    position:relative;
    left:72px;
    top:20px;
}

#wrapper .top h1{
    margin-bottom:5px;
    font-size:28px;
    color:#535455;
    
}

#wrapper .social-button {
    margin-top:29px;
    margin-left:29px;
}

#wrapper .social-button .btn{
    width:188px;
    height:56px;
    border: 0px groove;
    border-radius:4px;
    float:left;
    background:yellow;
    text-align:center;
    line-height:56px;
     color:white;
    font-size:25px;
}

#wrapper .social-button .connection{
    float:left;
    width:60px;
    height:60px;
    text-align:center;
    line-height:55px;
    position: relative;
    padding-top:5px;
    padding-bottom:5px;
    z-index:1;

}

#wrapper .social-button .connection .circle{
    background:#d4d4d4;
    margin:auto;
    width:40px;
    height:40px;
    text-align: center;
    line-height:40px;
    border-radius:50%;
    color:white;
    position: relative;
    z-index:5;
}

#wrapper .social-button .connection .vertical-line{
   border:1px solid #d4d4d4;
   z-index:4;   
   width:58px;    
   position:absolute;
   top:39%;
   background:   #d4d4d4; 
   
}





#wrapper .social-button .twitter{
    background:#8cd6f4;
}

#wrapper .social-button .facebook{
    background:#8d9ec1;
}


#wrapper .social-button .btn.twitter i{
    font-size:33px;
    color:black;
    float:left;
    background:#009bd9;
    width:56px;
    height:56px;
    text-align:center;
    line-height:56px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color:white;
}
#wrapper .social-button .btn.facebook i{
    font-size:33px;
    color:black;
    float:left;
    background:#7285ac;
    width:56px;
    height:56px;
    text-align:center;
    line-height:56px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color:white;
}

#wrapper .form {
    margin-left:27px;
}

#wrapper .form .row{
    width:430px;
    height:50px;
    background :#f5f5f5;
    text-align:center;
    line-height:50px;
    margin-top:31px;
    position:relative;
}

#wrapper .form .row i{
    color:#bfbfbf;
    font-size:30px;
    border-right:1px solid #d5d5d5;
    padding-right:10px;
    margin-top:10px;
}

#wrapper .form .row .input{
    width:364px;
    height:30px;
    position: relative;
    bottom:7px;
    padding-left:10px;
    outline:none;
    border:none;
    background:rgb(0,0,0,0);
}

#wrapper .form  #submit{
  background:#81d165;
  width:134px;
  height:38px;
  border-radius: 5px;   
  outline: none;
  border:none;
  box-shadow: none;
  color:white;    
  font-size:20px;  
  margin-top:41px;
  margin-left:63%;    
}


#wrapper .bottom{
    position:absolute;
    color:#cac9c9;
    margin-top:47px;
    text-align: left;
    line-height:50px;
    height:50px;
    background:#f7f7f7;
    width:100%;
    bottom:0;
}

#wrapper .bottom #bottom-content{
    margin-left:39px;
}

#wrapper .bottom a{
    text-decoration: none;
    font-weight: bold;
    color:#81d165;
    font-style: italic;
}

.icon{
    width:81px;
    height:81px;
    background:#81d165;
    border-radius:50%;
    text-align:center;
    line-height:81px;
    color:white;
    font-size: 40px;
    position:absolute;
    top:139px;
    left:260px;
}