html {
    font-family: sans-serif
}

* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100%;
    height: 350px;
    background: #117AF4;
    background-image: url(https: //cdn.sstatic.net/img/hero/pattern.svg?v=13ca42e6c21d);
        background-position: right center, center center;
    background-repeat: no-repeat no-repeat;
    position: relative;
}

#circle-background {
    height: 430px;
    width: 430px;
    background: #1070F5;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 90px;
    z-index: 1;
}

#circle-clear {
    width: 100%;
    height: 300px;
    background: #fff;
    position: absolute;
    z-index: 2;
}

#container #left-side {
    color: white;
    z-index: 1;
    width: 50%;
    float: left;
    height: 300px;
}

#container #left-side .wrapper {
    width: 67%;
    padding-left: 10%;
    padding-top: 7%;
    position: relative;
    z-index: 3;

}

#container #right-side {
    float: left;
    width: 50%;
    height: 300px;
}

#container #right-side .wrapper {
    width: 410px;
    height: 100%;
    margin-left: 30%;
}

#container #right-side .wrapper a {
    border: 0px solid #d6d9dc;
    background: white;
}

#container #right-side .social-links {

    height: 50px;
    width: 100%;
    margin-top: 25px;
}

#container #right-side .social-links .Btn {
    width: 185px;
    height: 35px;
    background: white;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}


#container #right-side .social-links .facebook {
    background: #395697;
}

#container #right-side .inputForm {
    border: 0px solid;
    height: 37px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#container #right-side .inputForm .row {
    margin-top: 10px;
}

#container #right-side .inputForm .field {
    border: 0px solid;
    background: #EFF0F1;
    font-size: 13px;
    text-align: left;
    width: 22%;
    height: 35px;
    line-height: 37px;
    float: left;
    vertical-align: top;
    padding-left: 9px;
    padding-right: 14px;
}

#container #right-side .inputForm .inputField {
    margin-left: 0px;
    height: 35px;
    float: left;
    border: 0px solid;
    width: 276px;
    padding-left: 10px;
    text-align: left;
    line-height: 35px;
}

#container #right-side .inputForm .clear {
    clear: left;
}

#container #right-side .inputForm .row-signup {
    margin-top: 30px;
}

#container #right-side .inputForm .field-signup {
    border: 1px solid white;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    width: 22%;
    height: 37px;
    line-height: 37px;
    vertical-align: top;
    color: white;
    display: inline-block;
}

#container #right-side .inputForm .field-signup-agreement {
    color: white;
    font-size: 12px;
    display: inline-block;
    width: 70%;
    padding-left: 16px;
    padding-top: 10px;
    text-align: top;
    line-height: 15px;
    padding-top: 0px;
}

#container #bottom {
    position: absolute;
    border: 0px solid;
    bottom: 0;
    background: rgba(220, 220, 220, 0.1);
    width: 100%;
    height: 30px;
    color: white;
    line-height: 30px;
    padding-left: 80px;
    font-size: 12px;
    z-index: 3;
}

#container #bottom a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
