 html,
 body {
     height: 100%;
     margin: 0px;
 }

*{
    margin:0px;
    padding:0px;
}

.container{
    width:100%;
    height:100%;
    position: relative;
}

.box{
    border:solid;
    width:120px;
    height:80px;
    text-align: center;
    line-height:80px;
    background:yellow;
}


.tl{
   position:absolute;
   top:0;
   left:0;    
}


.tr{
    position:absolute;
    top:0;
    right:0;
}

.bl{
   position: absolute;
   bottom:0;
   left:0;
}


.br{
   position: absolute;
   bottom:0;
   right:0;
}


 .container {
     height: 100%;
     position: relative
 }

 .center-block {
     width: 286px;
     height: 185px;
     position: absolute;
     margin: auto;
     top:0;bottom: 0;right: 0;left: 0;
  
     
 }

.box-center{
    position: absolute;
    background-color:#ffcccc ;
    border:solid;
    width:80px;
    height:50px;
    line-height:50px;
    text-align:center;
    position:relative;
    
}

 .middle {
     background-color: blue;
     position: absolute;
     width:120px;
     height:80px;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     text-align:center;
     line-height: 80px;
     border:1px solid;
     
 }
.center-tl {
    top: 0px;
    left: 0px;
}


.center-tr {
    top: 0px;
    right: 0px;
    position: absolute;
    background: #ffcccc;
}

.center-bl {
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: #ffcccc;

}

.center-br {
    bottom: 0px;
    right: 0px;
    position: absolute;
    background: #ffcccc;
}
