html {
    font-family: sans-serif;
    font-size:12px;
}   

*{
    margin:0px;
    padding:0px;
}

clear{
    clear:both;
}

header {
    background: #4267B2;
    height: 42px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

header #facebook-logo {
    display: inline-block;
    vertical-align: top;
    width: 2%;
    height: 42px;
    text-align: center;
    line-height: 42px;
    display: inline-block;
    margin-left:101px;
    position: relative;
    top:2px;

}

header #facebook-logo a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

header #search-container {
    width: 60%;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    vertical-align: top;
    box-sizing:border-box;
    b
}

header #search-container input {
    height: 23px;
    width: 400px;
    float: left;
    border: 1px groove;
    border-right: 0px;
    font-size: 17px;
    padding-left:10px;
    position: relative;
    top:10px;
    border-top-left-radius: 3px;border-bottom-left-radius: 3px;
}

header #search-container i {
    color: #4b4f56;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}



header #search-container button {
    float: left;
    width: 48px;
    height: 25px;
    border: 1px groove;
    background: #F5F6F7;
    cursor: pointer;
    position: relative;
    top:10px;
    border-top-right-radius: 3px;border-bottom-right-radius: 3px;
    
}

header #search-container button:hover {
    background: #ccd0d5;
}


header .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:42px;
  width:14;
  display:inline-block;
}

header .menu li{
    float:left;
    height:30px;
    padding-left:5px;
    padding-right:10px;
    border-right:1px solid #3B5CA0;   
    text-align:center;
    line-height:30px;
    margin-top:5px;
}

header .menu li a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header .menu li a:hover {
 background: #365899;
}


header .icon-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:42px;
  width:7%;
  display:inline-block;
  padding-left:5px;
}


header .icon-links li{
    float:left;
    height:30px;
    padding-left:5px;
    padding-right:10px;
    text-align:center;
    line-height:30px;
    margin-top:7px;
}

header .icon-links li a {
  display: block;
  color: #1A2947;
  text-decoration: none;
  font-weight: bold;
  font-size:20px;    
}

header .icon-links li:last-child{
    border-right:1px solid #3B5CA0; 
}

header .icon-links li a:hover {
    color:white;
}

header .quick-help{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:42px;
  width:7%;
  display:inline-block;
  padding-left:5px;
}


header .quick-help li{
    float:left;
    height:30px;
    padding-left:5px;
    padding-right:10px;
    text-align:center;
    line-height:30px;
    margin-top:7px;
}

header .quick-help li a {
  display: block;
  color: #1A2947;
  text-decoration: none;
  font-weight: bold;
  font-size:20px;    
}

header .quick-help li a:hover {
    color:white;
}





#content-container{
     width:80%;
     height:353px;
     position:relative;
     margin-left:5%;
     margin-right:5%;
     
}


#content-container #banner{
    z-index:-1;
    background-color:red;
    width:100%;
    height:314px;
    background-size:contain;
    background-image: url("https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.0-9/32744786_10210800486039318_4414172915004604416_n.jpg?_nc_cat=107&_nc_oc=AQkcZNxMyLAe04jdb68QPAU5MQSGG52zjzM7NcIOw1JfzbugjyzAV2l-7nmSCTFPQa4&_nc_ht=scontent.fsgn5-2.fna&oh=261afed1da20511d0a8685e21ae8f505&oe=5CA7C15A");
}
#content-container #banner .cameraBtnHover{
    z-index: 1;
    color:grey;
    border:1px solid #A3A3A3;
    width:200px;
    height:30px;
    text-align:center;
    line-height: 30px;
    position: absolute;
    top:20px;
    left:20px;
    display:none;
    font-size:15px;
    border-radius:5px;
}

#content-container #banner .cameraBtn{
    z-index: 1;
    color:grey;
    width:170px;
    height:30px;
    text-align:left;
    line-height: 30px;
    position: absolute;
    top:20px;
    left:20px;
    font-size:25px;
    display:block;
}

#content-container #banner:hover .cameraBtn{
  display:none;
}
 #content-container #banner:hover .cameraBtnHover{
  display:block;
}   

#content-container #banner .EditProfile{
    z-index:1;
    position: absolute;
    width:106px;
    height:30px;
    border:1px solid #A3A3A3;
    background:#F5F6F7;
    position:absolute;
    right:19%;
    bottom:60px;
    line-height:26px;
    color:#4B4F56;
    font-size:15px;
    border-radius:2px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height:30px;
}



#content-container #banner .ActivityLog{
    z-index:1;
    float:left;
    position: absolute;
    width:130px;
    height:30px;
    border:1px groove #A3A3A3;
    border-right:none;
    background:#F5F6F7;
    position:absolute;
    right:6%;
    bottom:60px;
    text-align:center;
    line-height:26px;
    color:#4B4F56;
    font-size:15px;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    text-decoration: none;
    display: inline-block;
    line-height:30px;
    text-align:left;
    padding-left:10px;
}


#content-container #banner .ActivityLog .notification{
    display:inline-block;
    font-size:10px;
    background-color:red;
    color:white;
    padding:1px 3px;
    margin-left:4px;
    font-weight: bold;
    
}

#content-container #banner .more{
    z-index:1;
    width:25px;
    height:30px;
    border:1px groove #A3A3A3;
    background:#F5F6F7;
    position:absolute;
    line-height:26px;
    color:#C3C6CA;
    font-size:20px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    text-decoration: none;
    display: block;
    padding-left:10px;
    line-height:30px;
    right:36px;
    bottom: 60px;
 }



#content-container #avatar{
    height:180px;
    width:180px;
    background:yellow;
    position:absolute;
    top:155px;
    left:38px;
    border-radius: 50%;
    background-size:cover;
    background-image:url(https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.0-9/43950861_10211746599411561_794782074627162112_n.jpg?_nc_cat=105&_nc_oc=AQlt4VBHpNDMG3-46y5s0W6RLivYqIa5ujzhUarFKqHIFyq22h8y7PiDwlvPyE_bytM&_nc_ht=scontent.fsgn5-2.fna&oh=e24525bbd6296e4f5505322f4474e9a6&oe=5C8DCEF7);
    border:4px solid #fff ;
    display: block;
}
#content-container #avatar .updatedAvatar{
    background:#1B0F10;
    color:white;
    font-size:19px;
    position:absolute;
    height:90px;
    width:100%;
    bottom:0;
    border-bottom-left-radius: 97px;
    border-bottom-right-radius: 97px;
    text-align:center;
    line-height:90px;
    display:none;
    opacity: 0.5;
}


#content-container #avatar:hover .updatedAvatar{
    display: block;
}


#content-container .name{
    width:auto;
  
    font-weight: bold;
    font-size:24px;
    display: block;
    position:absolute;
    left:250px;
    bottom:60px;
}

#content-container .name a{
   text-decoration: none;
   color:white;
}

#content-container #headline {
    width:99.8%;
    height:43px;
    border:1px solid #E9EAED;
}

#content-container #headline .menu{
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:42px;
  width:100%;
  display:inline-block;   
  margin-left:20%;    
    
}

#content-container #headline .menu li{
    float:left;
    height:43px;
    padding-left:5px;
    padding-right:10px;
    border-right:1px solid #E9EAED;   
    text-align:center;
    line-height:43px;
    width:106px;
}


#content-container #headline .menu li a {
  display: block;
  color: #365899;
  text-decoration: none;
  font-weight: bold;
  font-size:14px;    
}

#content-container #headline .menu li a:hover{
    background:#ccd0d5;;
}